/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 15px 15px 20px 2px rgba(105,105,105, 0.9);
}

html {
  box-sizing: border-box;
  font-family: 'Krub', sans-serif;
  color: var(--dark);
  scroll-behavior: smooth;
}

body {
  background: #ccc;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0;
  line-height: 1.4;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Centers all Titles */
.text-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Navigation */
/* .main-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width:100%;
} */

.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1em;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--primary);
}

/* About section */
.about {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'top-box top-box-a bio bio'
  'top-box top-box-b bio bio';
}

/* Bio */
.bio {
  grid-area: bio;
  align-items: center;
  justify-content: center;
}

/* Profile Photo */
.top-box-a {
  grid-area: top-box-a;
  align-items: center;
  justify-content: center;
  display: flex;
}

.photo {
  height: 50%;
  width: 50%;
	border-radius: 50%;
}

/* Connect Links */
.top-box-b {
  grid-area: top-box-b;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links .fa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--dark);
  color: var(--light);
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.links .fa:hover {
  background: var(--light);
  color: var(--dark);
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume .btn {
  display: grid;
  grid-gap: 10px;
  padding: 0;
}

.resume .btn a {
  background: var(--dark);
  text-decoration: none;
  padding: 1rem 2rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 20px;
}

.resume .btn a:hover {
  background: var(--light);
  color: var(--dark);
}

/* Skill section */
.skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title_head {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Project Section */
.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  grid-template-areas:
  'project-1 project-2'
  'project-3 project-4';
}

.project-1 {
  grid-area: project-1;
}

.project-2 {
  grid-area: project-2;
}

.project-3 {
  grid-area: project-3;
}

.project-4 {
  grid-area: project-4;
}

.project {
  display: inline-block;
  background-color: white;
  height: 330px;
  width: 600px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow);
	justify-content: space-evenly;
	align-items: center;
}

.card {
  background-color: black;
  height: 200%;
  width 100%;
  position: relative;
  transition: 1.5s;
}

.image {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
}

.name {
  background-color: rgba(250,250,250,0.7);
  height: 15%;
  width: 90%;
  position: absolute;
  bottom: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 50%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  width: 70%;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.info h2{
  text-align: center;
}

.link {
  width: 30%;
  text-align: right;
  padding: 1em;
  display: block;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.project .fa {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  display: flex !important;
  font-size: 40px !important;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.project .fa-desktop {
  background-color: black;
}

.project .fa-github {
  background-color: black;
}

.fa:hover {
    background-color: grey;
		text-decoration: none;
}

.card:hover{
  transform: translateY(-50%);
}

.totop {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--dark);
  color: var(--light);
  bottom: 40px;
  left: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}
