html {
	/*Adjusts Image to window size*/
	height: 100vh;
	width: 100%;
}

body {
	color: #595959;
	font-family: 'Krub', sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
	width 100%;
	z-index: -100;
}
.notice {
	float: left;
	color: red;
}

/* Navigation */
.navbar {
	margin: auto 0;
	padding: 0.25em 0 0.25em 0;
}

.navbar-default {
	background: #dedde3;
}

/* Main */
.container {
	padding: 0 50px;
}

.section {
	position: relative;
}

.section .row {
	height: 100vh;
	width: 100%;
	position: relative;
	margin: auto;
}

.section .bio {
	margin-top: 10%;
	display: inline-block;
}

.about {
	float: left;
	justify-content: left;
	align-items: left;
	display: inline-block;
	width: 75%;
	padding: 1em;
}

.sidebar.right {
	width:  25%;
	float: right;
	display: inline-block;
	padding: 1em;
}

.contact {
  margin: auto;
	padding: 1em;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contact div:first-of-type{
	font-size: 20px;
}

.connect_links {
	display: inline-block;
	align-items: center;
	justify-content: center;
}

.connect_links .fa {
	padding: 1em;
	border-radius: 50%;
	color: white;
	font-size: 1em;
	background-color: grey;
}

.section.skill {
	margin: auto;
	top: 0;
	align-items: center;
	justify-content: center;
}

.info_block {
	position: relative;
	display: inline-grid;
	width: 30%;
}

/* Footer */
/* Font Awesome Footer Icon Color Adjustment */
.fa-heart {
	color: #e78aa2;
}

.fa-coffee {
	color: #986d4e;
}

/* Profile Photo */
.photo {
	border-radius: 50%;
	display: block;
  margin: 0 auto;
}

/* Center Section Title */
.text-center {
  text-align: center!important;
}

hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	max-width: 90%;
	width: 400px;
}

/* Project Section Styling */
.projects {
	margin: 0 auto;
}

.project_all {
	display: inline-flex;
}

/* Project Card Styling */

.project {
  background-color: white;
  height: 330px;
  width: 600px;
	margin: 10px;
  position: relative;
	display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 30px 2px rgba(20, 21, 31, 0.9)
	justify-content: space-evenly;
	align-items: center;
}

.card {
  background-color: black;
  height: 200%;
  width 100%;
  position: relative;
  transition: 1.5s;
}

.image {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
}

.name {
  background-color: rgba(250,250,250,0.7);
  height: 15%;
  width: 90%;
  position: absolute;
  bottom: 20px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 50%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info {
  width: 50%;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.info h2{
  text-align: center;
}

.link {
  width: 50%;
  text-align: right;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.project .fa {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  display: flex !important;
  font-size: 40px !important;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.project .fa-desktop {
  background-color: black;
}

.project .fa-github {
  background-color: black;
}

.fa:hover {
    background-color: grey;
}

.card:hover{
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .project {
    background-color: white;
    height: 600px;
    width: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: visible;
    box-shadow: 0 0 30px 2px rgba(20, 21, 31, 0.9)
  }

  .card {
    background-color: black;
    height: 100%;
    width 100%;
    position: relative;
    transition: none;
  }

  .image {
    height: 40%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .content {
    height: 60%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 40%;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .info {
    display: inline;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: center;
  }

  .info h2{
    text-align: center;
  }

  .link {
    width: 85%;
    text-align: none;
    align-items: none;
    justify-content: center;
  }

  .card:hover{
    transform: none;
  }
}
