html {
	/*Adjusts Image to window size*/
	height: 100vh;
}
.navbar {
	margin: auto 0;
	padding: 0.25em 0 0.25em 0;
}

.navbar-default {
	background: #dedde3;
}

.cover {
	background: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8b82dbd7fe9677e9218686a427ea6d7&auto=format&fit=crop&w=1050&q=80);
	background-position: center;
  	background-attachment: fixed;
  	background-size: cover;
  	height: 100vh;
  	/*height: 100%;
  	width: 100%;*/
}

body {
	font-family: 'Krub', sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
	color: #555;
}

.intro {
	text-align: center;
	padding: 25% 0% 25% 0%;
}

h1 {
	font-size: 5em;
}

h4, h5 {
	font-weight: 700;
}

hr {
	width: 400px;
	max-width: 90%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}

.see-about {
	position: absolute;
    left: 50%;
    bottom: 2rem;
}

.see-about a {
  	color: #555;
}

.see-about i:hover::before {
	color: #e78aa2;
	border: 3px solid #e78aa2;
	border-radius: 5px;
	transition: .3s ease-in-out;
}

#about {
	padding-top: 15%;
	height: 100vh;
}

.photo {
	display: block;
    margin: 0 auto;
	border-radius: 50%;
}

#skills {
	text-align: center;
}

#skills i {
	color: black;
	font-size: 3em;
	padding: 10px;
}

#projects {
	padding-top: 15%;
	padding-bottom: 15%;
	height: 100%;
}

#contact {
	alig: center;
	height: 100%;
	width: 100%;
}

#contact i {
	color: black;
	font-size: 3em;
	padding: 5px;
}

.footer-wrapper {
	text-align: center;
    background-image: linear-gradient(-100deg,#eedade,#eaeaea);
    padding: 25% 0% 25% 0%;
    height: 100vh;
}

.footer-label {
    font-size: 14px;
    font-color: #f8f8f8;
    background-color: #bdbcc1;
    text-align: center;
    padding: 25px 0 25px 0;
}

/* Font Awesome Footer Icon Color Adjustment */
.fa-heart {
	color: #e78aa2;
}
.fa-coffee {
	color: #986d4e;
}
