@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0; }

a {
  cursor: pointer;
  color: #333;
  text-decoration: none; }

a:hover {
  color: #888; }

body,
.flex-container,
.nav,
.about,
.gallery-flex {
  display: flex; }

body {
  justify-content: center;
  background: #f7f5f6;
  position: relative; }

.flex-container {
  flex-direction: column;
  width: 90%;
  font-family: 'Poppins', sans-serif; }

.flex-container > * {
  margin: 30px; }

.nav {
  justify-content: space-between;
  align-items: center; }

.nav .social {
  transform: translateX(100px);
  transition: 0.5s all ease;
  will-change: transform;
  margin-right: 20px;
  font-size: 20px; }

.nav .social a {
  color: #555;
  margin: 5px; }

.about {
  align-items: center;
  margin-bottom: 20px; }

.intro {
  color: #777; }

.intro > * {
  margin: 2px; }

.intro h1,
.intro h2 {
  font-weight: 400; }

.intro h2 {
  font-size: 16px;
  max-width: 700px; }

.gallery-flex {
  align-items: center;
  flex-wrap: wrap;
  height: auto; }

.gallery-flex > * {
  margin: 10px; }

.gallery-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  transform: translateY(50px);
  transition: 0.5s all ease; }

.transitioned {
  transform: translateY(0);
  transition: 0.5s all ease; }

.gallery-flex .gallery {
  min-width: 0;
  overflow: hidden;
  position: relative; }

.gallery-flex .codepen {
  width: 250px;
  max-width: 100%; }

.gallery-flex img {
  max-width: 100%;
  width: 250px; }

.gallery-flex p {
  align-self: start;
  letter-spacing: 1px;
  font-size: 12px;
  margin-top: 7px; }

.gallery-flex .codepen_embed {
  margin-top: 14px; }

.read-more {
  color: #333; }

.read-more > * {
  margin: 15px;
  color: #777; }

.read-more a {
  cursor: pointer; }

@media (max-width: 800px) {
  .flex-container > * {
    margin: 20px; }
  .gallery-flex {
    justify-content: center;
    align-items: center; }
  .gallery-flex > * {
    margin: 0; }
  .gallery-flex .codepen {
    text-align: center; }
  .gallery-wrap {
    height: auto;
    margin-bottom: 25px; }
  .gallery-wrap p {
    align-self: center; }
  .grid-container {
    display: block; }
  .grid-container > * {
    margin: 20px; }
  .about {
    display: block;
    justify-content: center;
    align-self: center;
    text-align: center; }
  .nav {
    justify-content: center; }
  .nav .social {
    margin-right: 0; }
  .gallery-grid {
    justify-content: center; } }
